BODY {
	BACKGROUND: #cccccc; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif
}
A:hover {
	COLOR: #ff0000
}
A:link {
	TEXT-DECORATION: none
}
FONT {
	FONT-FAMILY: Arial
}
FONT#banner {
	FONT-SIZE: xx-large; COLOR: #000099; FONT-FAMILY: Arial
}
FONT#date {
	FONT-SIZE: small; COLOR: #000099; FONT-FAMILY: Arial
}
FONT#head {
	COLOR: #008000; FONT-FAMILY: Arial
}
FONT#small {
	FONT-SIZE: small
}
TABLE#banner {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; BORDER-LEFT: #000 0px solid; WIDTH: 512px; BORDER-BOTTOM: #000 0px solid
}
TABLE#main {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; BORDER-LEFT: #000 0px solid; WIDTH: 723px; BORDER-BOTTOM: #000 0px solid; BACKGROUND-COLOR: #ffffff
}
TD#m3 {
	WIDTH: 3%
}
TD#m94 {
	WIDTH: 94%
}
TD#b502 {
	WIDTH: 502px
}
TD#c503 {
	WIDTH: 503px
}
P#just {
	TEXT-ALIGN: justify
}
P#cent {
	TEXT-ALIGN: center
}
DIV#cent {
	TEXT-ALIGN: center
}
IMG#lspace {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG#space {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG#lmenu {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
FONT#copyGreen {
	FONT-SIZE: small; COLOR: #008000
}
FONT#copyBlack {
	FONT-SIZE: small; COLOR: #000000
}
FONT#copyContact {
	FONT-SIZE: small; COLOR: #009900
}
