SPAN#l {
	BACKGROUND-COLOR: #000000
}
SPAN#lo {
	COLOR: black; BACKGROUND-COLOR: orange
}
SPAN#ly {
	COLOR: black; BACKGROUND-COLOR: #ccff00
}
FONT#o {
	COLOR: orange
}
FONT#p {
	COLOR: purple
}
FONT#pi {
	COLOR: pink
}
FONT#b {
	COLOR: blue
}
FONT#g {
	COLOR: green
}
FONT#r {
	COLOR: red
}
FONT#w {
	COLOR: white
}
FONT#bl {
	COLOR: black
}
FONT#oc {
	COLOR: #ff6633
}
FONT#sc {
	COLOR: #ff0000
}
